<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.omnia.pushsdk"
    android:versionCode="2"
    android:versionName="0.2" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <!-- Elements required for host applications to include in their manifest for receiving messages -->
    <!-- The demo package name 'org.omnia.pushsdk' *MUST* be replaced with the package name of the host app -->
    <!-- START -->
    <permission
        android:name="org.omnia.pushsdk.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.omnia.pushsdk.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- END -->


    <!-- optional permission - used for debugging only -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.omnia.pushsdk.activity.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.omnia.pushsdk.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="org.omnia.pushsdk.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.omnia.pushsdk.activity.MainActivity" />
        </activity>

        <!-- BEGIN - definition of components for receiving messages -->
        <receiver
            android:name="org.omnia.pushsdk.service.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="org.omnia.pushsdk"/>
            </intent-filter>
        </receiver>
        <service android:name="org.omnia.pushsdk.service.GcmIntentService"/>
        <!-- END - definition of components for receiving messages -->

    </application>

</manifest>
