<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.omnia.pushsdk"
    android:versionCode="2"
    android:versionName="0.2">

	<!--
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="19" />
	-->

    <!-- Hopefully these permissions will be transferred to the host app via the AAR library file -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <!-- Elements required for host applications to include in their manifest for receiving messages -->
    <!-- START -->
    <permission
        android:name="org.omnia.pushsdk.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.omnia.pushsdk.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- END -->

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />


        <!-- BEGIN - definition of components for receiving messages -->
        <receiver
            android:name=".broadcastreceiver.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="org.omnia.pushsdk"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcastreceiver.MessageReceiptAlarmReceiver" />
        <service android:name=".service.GcmService"/>
        <service android:name=".service.MessageReceiptService"/>
        <!-- END - definition of components for receiving messages -->

    </application>

</manifest>
