<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pivotal.cf.mobile.pushsdk"
    android:versionCode="4"
    android:versionName="0.4">

	<!--
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="19" />
	-->

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <application>

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <receiver
            android:name="com.pivotal.cf.mobile.pushsdk.broadcastreceiver.BootCompletedBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.pivotal.cf.mobile.pushsdk.broadcastreceiver.EventsSenderAlarmReceiver"
            android:exported="false"/>

        <service
            android:name="com.pivotal.cf.mobile.pushsdk.service.GcmService"
            android:exported="false"/>

        <service
            android:name="com.pivotal.cf.mobile.pushsdk.service.EventService"
            android:exported="false"/>

    </application>

</manifest>
