<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gopivotal.pushlib"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <!-- Elements required for host applications to include in their manifest -->
    <!-- The demo package name 'com.gopivotal.pushlib' *MUST* be replaced with the package name of the host app -->
    <!-- START -->
    <permission
        android:name="com.gopivotal.pushlib.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.gopivotal.pushlib.permission.C2D_MESSAGE"/>
    <!-- END -->

    <!-- optional permission - used for debugging only -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gopivotal.pushlib.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <!--
    <receiver
        android:name=".GcmBroadcastReceiver"
        android:permission="com.google.android.c2dm.permission.SEND">
        <intent-filter>
            <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            <category android:name="com.gopivotal.pushlib"/>
        </intent-filter>
    </receiver>
    <service android:name=".GcmIntentService"/>
    -->

</manifest>
